<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="recentProductSideBar" id="recentProductsContainer" class="recentProductsContainer">
    <div id="headText">최근 본 상품</div>
    <ul id="recentProductsUL">
        <!-- 동적으로 생성되는 태그 예시 -->
        <!-- <li class="recentProductList active">
             <a class="recentProductLink" href="">
             <img class="recentProductIMG" src="">
             <p class="recentProductName">1</p>
             <p class="recentProductPrice">11원</p></a>
         </li>
         <li class="recentProductList">
             <a class="recentProductLink" href="">
             <img class="recentProductIMG" src=>
             <p class="recentProductName">11</p>
             <p class="recentProductPrice">11원</p></a>
         </li>-->
    </ul>
    <div id="buttonList">
        <button id="prevButton">이전</button>
        <button id="nextButton">다음</button>
    </div>
</div>
</html>